{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="col-md-4 mx-auto">
                <div class="card shadow p-2">
                    <h4 class="card-title bg-light py-2 text-center ">Quote of the Day</h4>
                    <div class="card-body">
                        <h5 class="card-title">Author:{{datas.author}} </h5>
                        <p class="card-text text-center py-2"><i>"{{datas.quote}}"</i></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">

        {%for post in post %}

        <div class="col-md-4 mx-auto">
            <div class="card shadow p-2">
                <h5 class="card-title bg-light py-2 text-center ">{{post.title}}</h5>
                <div class="card-body">

                    <p class="card-text text-center py-2"><i>"{{post.post}}"</i></p>
                    <p class="card-text text-end  py-2"><small>Date Posted:{{post.datetime.strftime('%d-%m-%Y') }}</small></p>
                    <a href="#" class="btn btn-primary">Comment</a>
                </div>
            </div>
        </div>
        {%endfor%}

        <div class="col-md-10 mt-5 mx-auto">

            <!-- Login form -->
            <p class="fw-bold fs-4 text-center text-primary">Subscribe</p>
            <form action="" method="POST" style="max-width: 550px;margin:auto" class="needs-validation" novalidate id="loginform">
                {{form.hidden_tag()}}
                <div class="form-group mx-4">
                    {% if form.post.errors %} {{form.post.label}}{{form.post(class="form-control is-invalid")}} {% for error in form.post.errors %}
                    <div class="invalid-feedback ">
                        {{error}}
                    </div>
                    {% endfor %} {% else %} {{form.post.label}}{{form.post(class="form-control")}} {% endif %}
                </div>

                <div class="form-group mx-4 ">
                    <p class="text-center"> {{form.submit(class="btn btn-primary mt-3")}}</p>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock%}