{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row mt-4">

        {%for post in post %}

        <div class="col-md-4 mx-auto">
            <div class="card shadow p-2">
                <h5 class="card-title bg-light py-2 text-center ">{{post.title}}</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text text-center py-2"><i>"{{post.post}}"</i></p>
                    <p class="card-text text-end  py-2"><small>Date Posted:{{post.datetime.strftime('%d-%m-%Y') }}</small></p>
                    <a href="#" class="btn btn-primary">Comment</a>
                </div>
            </div>
        </div>
        {%endfor%} {% for datas in data %}
        <div class="col-md-4 mx-auto">
            <div class="card shadow p-2">
                <h5 class="card-title bg-light py-2 text-center "></h5>
                <div class="card-body">
                    <h5 class="card-title">Author:{{datas['author']}} </h5>
                    <p class="card-text text-center py-2"><i>"{{datas['quote']}}"</i></p>

                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock%}