{% extends 'base.html' %} {% block content %}
<div class="container">
    <h1 class="h3 text-center mt-3">Popular Quotes</h1>
    <div class="row mt-4 mt-2">
        {% for datas in data %}
        <div class="col-md-4 mx-auto">
            <div class="card mt-2 shadow p-2">

                <div class="card-body">
                    <h5 class="card-title">Author:{{datas['author']}} </h5>
                    <p class="card-text text-center py-2"><i>"{{datas['quote']}}"</i></p>

                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock%}